<h1>User_Movies</h1>

<%= link_to "Import score of movies", user_movies_import_path %>

<hr>

<% @usermovies.each do |user_movie| %>
  <div>
    <p>Average Score: <%= user_movie.score %></p>
  </div>
<% end %>
